<div id="<%= dom_id email_notification %>">
  <p>
    <strong>Title:</strong>
    <%= email_notification.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= email_notification.body %>
  </p>

  <p>
    <strong>Recipient email:</strong>
    <%= email_notification.recipient_email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= email_notification.status %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= email_notification.priority %>
  </p>

</div>
